version: "3"
name: turfcoach_assighnment
services:
  turfcoach_scheduler_app:
    container_name: turfcoach_scheduler_app
    build:
      context: ../
      dockerfile: ./docker/dockerfile.dev.yml
    working_dir: /home/node/app
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - NODE_ENV=development
      - MONGO_URI=mongodb://turfcoach_app_database:27017/turfcoach_scheduler
    env_file:
      - ../.env
    depends_on:
      - app_database

  turfcoach_app_database:
    container_name: turfcoach_app_database
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data:
